@import '/src/styles/variables';

.weekly-page {
  color: $darkColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-height: 90vh;
  position: relative;

  header {
    height: 200px;

    h1 {
      text-align: center;
    }

    .calorie-error-text {
      font-style: italic;
      font-size: .8rem;
      text-align: center;
      color: $errorColor;
    }
  }

  main {
    max-width: 90%;
  }
}

@media screen and (max-width: 950px) {
  .weekly-page {

    header {

      h1 {
        font-size: 1.5rem;
      }

      .calorie-error-text {
        margin-top: 80px;
      }
    }
  }
}