@import '/src/styles/variables';

.weekly-page {
  color: $darkColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-height: 90vh;
  position: relative;

  header {
    height: 200px;

    .calorie-error-text {
      font-style: italic;
      font-size: .8rem;
      text-align: center;
      color: $errorColor;
    }
  }

  main {
    max-width: 90%;
  }
}