@import '/src/styles/variables';

.meal-card {
  font-family: 'Poppins', sans-serif;
  width: 300px;
  height: 300px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .title {
    text-align: center;
    flex: 1;
    font-family: 'Neucha', cursive;
    color: $darkColor;
    font-size: 1.8rem;
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem;

    p {
      margin: 0;
    }
  }
}
