@import './src/styles/variables';

.select-cuisine {
  padding: 10px 15px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: $darkColor;
  border: 1px solid $darkColor;
  border-radius: 3px;
  outline: none;
  margin-right: 1rem;
}

.select-cuisine {
  margin-right: 3rem;
}

.select-cuisine:invalid {
  color: #777;
}

@media screen and (max-width: 950px) {


    .select-cuisine {
      margin-right: 1rem;
      padding: 5px 10px;
      margin: 0 0 1rem 0;
    }
}