@import '/src/styles/variables';

.login-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 70%;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;

  h1 {
    font-size: 55px;
    font-weight: 300;
    margin: 0 0 1rem 0;
    color: $darkColor;
  }

  .error-text {
    font-style: italic;
    font-size: .8rem;
    text-align: center;
    color: $errorColor;
  }

  p {
    .signup-link {
      color: $primaryColor;
      font-weight: 300;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid $primaryColor;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .login-form {
    width: 60%;
  }
}
