@import '/src/styles/variables.scss';

.search-form {
  margin-top: 2rem;
  height: 60px;
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px 15px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: $darkColor;
  border: 1px solid $darkColor;
  border-radius: 3px;
  outline: none;
  margin-right: 1rem;
}

@media screen and (max-width: 950px) {
  .search-form {
    margin-top: 1rem;
    flex-direction: column;
    justify-content: space-between;

    .search-input {
      padding: 5px 10px;
      margin: 0 0 1rem 0;
    }
  }
}