@import './src/styles/variables';

.section {
  width: 100%;
  background-color: #FFF;
  font-family: 'Poppins', sans-serif;
  color: $darkColor;

  .recipe-information {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;

    .recipe-title {
      font-family: 'Neucha', cursive;
      padding: 1rem;
      font-size: 2rem;
    }

    img {
      height: 350px;
      align-self: center;
    }

    .extra-information {
      width: 100%;
    }
  }
}

