@import './src/styles/variables';

.section {
  width: 100%;
  color: $darkColor;
  background-color: $secondaryColor;

  .recipe-ingredients {
    width: 70%;
    margin: auto;
    padding: 1rem 0;


    .title {
      font-family: 'Neucha', cursive;
      font-size: 2rem;
      margin: 0;
    }

    .ingredients-list {
      margin: 0 ;

      .ingredient {
        margin-top: 0.8rem;
      }
    }
  }
}

