@import '/src/styles/variables';

.main {
  color: $darkColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-height: 90vh;
  position: relative;

  header {
    height: 200px;

    h1 {
      text-align: center;
    }

    .calorie-error-text {
      font-style: italic;
      font-size: .8rem;
      text-align: center;
      color: $errorColor;
    }
  }

  .container {
    width: 100%;

    .meal-cards-container {

      .meal-cards {
        display: flex;
        width: 80%;
        margin: 1rem auto;
        list-style: none;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .main {

    header {

      h1 {
        font-size: 1.5rem;
      }

      .calorie-error-text {
        margin-top: 80px;
      }
    }
  }
}